<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs', {title : 'About'}) %>
<div class="container">
    <pre wrap="soft">
        <h1>This is About Page........</h1>
    </pre>
</div>
<%- include('../partials/tail.ejs') %>