<header class="jumbotron-fluid mb-3 mb-sm-5 text-center py-3 text-white shadow hea">
    <h1 class="font-weight-bold jumtex"><%= title %></h1>
    <nav class="nav justify-content-center font-weight-bold">
        <li><a class="nav-link text-center lead" href="/admin"><h4>Create Blog</h4></a></li>
        <li><a class="nav-link text-center lead" href="/blogs"><h4>Show Blog</h4></a></li>
        <li><a class="nav-link text-center lead" href="/blogs/about"><h4>About</h4></a></li>
    </nav>
</header>